
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}


.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
    padding:10px;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url(../assets/hero-bg~.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 135px;
    animation: image-background 1s infinite; 
}
@keyframes image-background {
    0%{
        background: url(../assets/hero-bg~.jpg) no-repeat center center fixed;
    }
    50%{
        background: url(../assets/hero-bg-2.jpg) no-repeat center center fixed;
    }
    100%{
        background: url(../assets/hero-bg~.jpg) no-repeat center center fixed;
    }
}

.card.hovercard .avatar {
    position: relative;
    top: -100px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 200px;
    height: 200px;
    max-width: 300px;
    max-height: 300px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    margin-top: -90px;
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 2.2em;
    line-height: 1;
    color: #fff;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f2f2f2;
    text-overflow: ellipsis;
    margin: 5px 0px;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.card-social-links{
    display: flex;
    justify-content: space-evenly;
}


