.card-project-content{
    padding: 10px;
}
.project-links{
    color:inherit;
    display: flex;
    justify-content: space-between;
}
.project-links a{
    color: #fff;
    font-weight: 700;
}
.project-links span{
    margin-right: 5px;
}
.project-links div:hover{
    border: 1px solid #fff;
    padding: 0 5px;
    border-radius: 10px;
}
